*{
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

#clipper {
    width: 100%;
    height: auto;
}

#controls {
    position: relative;
    top: -190px; 
    display: flex; 
    gap: 18px; 
    font-family: Arial;
}

#display {
    margin-left: 20px; 
    font-family: Arial;
    background-color: rgb(211, 211, 211);
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
    font-size: 24px; 
    text-align: center; 
}

#decreaseBtn, #increaseBtn {
    background-color: #008CBA; 
    padding: 25px 40px; 
    border: none; 
    font-size: 24px;
    font-weight: bold;
    cursor: pointer; 
    transition-duration: 0.4s;
    color: white;
    border-radius: 10px;
}

#decreaseBtn:hover {
    background-color: #01749b; 
}

#increaseBtn {
    background-color: #4CAF50;
}

#increaseBtn:hover {
    background-color: #3e8e41; 
}

#checkButton {
    background-color: #f44336; 
    padding: 25px 40px; 
    border: none; 
    font-size: 24px; 
    font-weight: bold;
    cursor: pointer; 
    transition-duration: 0.4s;
    color: white;
    border-radius: 10px; 
}

#checkButton:hover {
    background-color: #d32f2f; 
}

#question {
    font-size: 24px; 
    font-family: Arial;
    margin-top: 22.5px; 
    text-align: center; 
}

button {
    touch-action: manipulation;
}
#unit {
    font-size: 24px; 
    font-family: Arial;
   
    text-align: center; 
}


select {
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: rgb(211, 211, 211);
  border: 2px solid gray;
  color: black;
 
}

/* Media Queries pro mobilní zařízení */
@media (max-width: 800px) {
    #controls {
        flex-direction: row; 
        gap: 8px;
    }

    #display {
        margin-left: 0; 
        padding: 15px; 
        font-size: 16px; 
    }

    #decreaseBtn, #increaseBtn, #checkButton {
        padding: 15px 25px; 
        font-size: 18px;
        border-radius: 8px; 
    }

    #question {
        font-size: 18px; 
        margin-top: 15px; 
    }
    #unit {
        font-size: 16px; 
         
    }
    #clipper {
        width: 115%;
        height: auto;
    }
    
}
